.classHeader {
    margin-top: 5px;
}

.playerClassContainer {
    width: calc((100vw / 12));
    height: calc((100vw / 12));
    display: inline-block;
    padding: 0.5vw;
    filter: saturate(100%);
}

.playerClassContainer.enabled:hover {
    cursor: pointer;
    filter: saturate(500%);
    padding: 0;
}

.playerClassContainer.enabled.selected:hover {
    padding-bottom: -2px;
}

.playerClassContainer.disabled {
    cursor: default;
    filter: saturate(0) brightness(50%);
}

.playerClassContainer.enabled.selected {
    border-bottom: 2px solid;
    padding-bottom: calc(0.5vw - 2px);
    border-color: orange;
}

.playerClassContainer.enabled.selected .playerClass {
    margin-top: 2px;
}

.playerClass {
    width: 100%;
    height: 100%;
}

.hiddenTextArea {
    left: -99999px;
    position: absolute;
}

.button {
    color: #999999;
    border: 1px solid #999999;
    text-align: center;
    min-width: 150px;
    width: fit-content;
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    background-color: #434343;
}

.button:active {
    background-color: #222222;
}

.globalButtonContainer {
    border: 1px solid red;
    width: fit-content;
    padding: 0 10px 10px 10px;
}

.classContent {
    margin: auto;
    width: fit-content;
    text-align: center;
}

.classContent .button {
    margin: 10px auto 0 auto;
}